.App {
  text-align: center;
  padding-top: 10vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blogpost{
 border-radius: 10px;
 border-color: gray;
}

li{
 float:left;
 align-items:center;
}
.navbar-brand{
 float:right;
 padding: 8px;
 
}
.navbar-item{
 float: left;
 display:block;
 padding: 8px;
 background-color: #800000;
 cursor: pointer;
 height: 100%;
}
.navbar-item:hover{
 background-color: #65211C;
}

.footer{
 position:fixed;
 bottom: 0;
 width: 100%;
 height: 5vh;
 background: lightgray;
}

.signature{
 float: right;
 color: gray;
 padding: 8px;
 font-family: monospace;

}

#homepagetext{
 text-align: center;
 align-items: center;
 font-family: monospace;
 justify-content:center;
 float: center;
 justify-items:center;
 display: grid;
 
}

.smallerimg{
 width:200px;
 height:200px;
 justify-self: center;
 align-self: center;
 padding: 1vh;
}
.blogpage{
 display: grid;
 grid-template-columns: 1fr, 2fr, 2fr, 2fr, 1fr;
} 
.blogpost{
 display: grid;
 grid-column-start: 1;
 grid-column-end: 4;
} 
