
/* Default app stuff */
.App {
  text-align: center;
  padding-top: 10vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBar Rules */
.dropdown{
  float:left;
  overflow:hidden;
  width:100%;
}


.dropdown-content{
  display:none;
  position:absolute;
  background-color: maroon;
  color: silver;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content NavLink{
  float: none;
  color: black
}

.dropdown:hover .dropdown-content{
  display:block;
}
.navElement{
color: white;
 display:grid;
 align-items: center;
 text-decoration: none;
 padding: 0 1rem;
 cursor: default;
 height: 100%;
 width:100%;
}

li{
  float:left;
  align-items:center;
 }
 
 .navbar-item{
  float: left;
  display:block;
  padding: 8px;
  background-color: #800000;
  cursor: pointer;
  height: 100%;
 }
 .navbar-item:hover{
  background-color: #65211C;
 }
 


/* Image Rules */
.smallerimg{
 width:300px;
 height:300px;
}

.centerimg{
 display: flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}

.giveitaborder{
 border-color: black;
 border-radius: 0px;
}

/* Header Rules */
.header-properties{
  text-align: center;
  padding: 10px;
  font-size: 20px;
 }

 .project3header{
  font-size: 20px;
  margin-bottom: 5px;
 }
 
.dateSub{
   color : lightslategray;
 }
 h2{
  font-size: 20px;
  color:#282c34;
 }

/* Main Page Rules */

.h1blogpage{
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.h2blogpage{
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page-holder{
 display: grid;
 font-family:'Courier', Courier, monospace;
 background: linear-gradient(lightgray,gray) no-repeat center center fixed;
 min-height: 100%;
 width: 100%;
 height: auto;
 position:relative;
 grid-template-columns: auto 80% auto ;
 grid-template-rows: 100px auto 60px;
 grid-template-areas:
 ". . ."
 ". main ."
 ". . ."
  ;
}


.page-item{
 grid-area: main;
 background-color:white;
padding:20px;
 border-radius:10px;
}

.centeredQuote{
  margin: 0 auto;
  text-align: center;
  width: 80%;
  height:auto;
}
p{
  line-height: 2;
  font-weight: 500;
  font-size: 18px;
}
 /* Footer Rules */
.footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background: lightgray;
 }
 
 .signature{
  float: right;
  color: gray;
  padding: 8px;
  font-family: monospace;
 
 }
 
 /* Blog Pages Cards */
 .card-link{
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }
 
 .card-link:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }